<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.app.puzzleimages">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="by.app.puzzleimages.PuzzleActivity"
            android:label="@string/title_game" />
        <activity
            android:name="by.app.puzzleimages.ChooseGameActivity"
            android:label="@string/title_choose_level" />
        <activity
            android:name="by.app.puzzleimages.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="by.app.puzzleimages.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="by.app.puzzleimages.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>